@font-face {
	font-family: Monument Extended;
	font-display: swap;
	src: url("../fonts/MonumentExtended-Regular.woff2") format("woff2"), url("../fonts/MonumentExtended-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Lovelace Text;
	font-display: swap;
	src: url("../fonts/zetafonts-lovelace-text-regular.woff2") format("woff2"), url("../fonts/zetafonts-lovelace-text-regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
