//====================================================================================================

.footer {
   padding-top: rem(48);
   padding-bottom: rem(26);
   background-color: rgba(0, 0, 0, 0.9);
   color: $whiteColor;

   // .footer__container
   &__container {
   }

   // .footer__content
   &__content {
      display: flex;
      justify-content: space-around;
      align-items: start;
      column-gap: rem(20);
      row-gap: rem(40);
      &:not(:last-child) {
         @include adaptiveValue("margin-bottom", 74, 40);
      }
      @media (max-width: $mobile) {
         flex-direction: column;
         align-items: center;
         text-align: center;
      }
   }

   // .footer__info
   &__info {
      max-width: rem(350);
   }

   // .footer__logo
   &__logo {
   }

   // .footer__text
   &__text {
      &:not(:last-child) {
         margin-bottom: rem(20);
         margin-top: rem(30);
      }
   }

   // .footer__shop
   &__shop {
   }

   // .footer__title
   &__title {
      font-size: rem(15);
      line-height: math.div(25, 15);
      &:not(:last-child) {
         @include adaptiveValue("margin-bottom", 35, 15);
      }
   }

   // .footer__link
   &__link {
      display: block;
      font-family: 'Lovelace Text';
      font-size: rem(12);
      line-height: math.div(24, 12);
      position: relative;
      transition: all 0.3s ease 0s;
      &::before {
         content: '';
         position: absolute;
         left: 0; 
			bottom: rem(-1);
         width: 0;
         height: rem(1);
         background-color: $whiteColor;
      }
      &:hover:before {
         width: 100%;
      }
      &::before {
         transition: width 0.45s;
      }
      &:not(:last-child) {
         margin-bottom: rem(10);
      }
   }

   // .footer__information
   &__information {
   }

   // .footer__copyright
   &__copyright {
      font-family: 'Lovelace Text';
      font-size: rem(12);
      line-height: math.div(24, 12);
      text-align: center;
   }
}

//====================================================================================================
